// needs to look similar to unga-placeholder-minimal
.question.or-appearance-unga-placeholder {
    background-color: #F3F3F3;
    border:1px solid #CCC;
    padding-bottom: 0px;
    margin:6px;
    padding-left: 32px;
    position: relative;
    .question-label {
        display: none;
    }
    &:hover {
    	background-color: #F3F3F3 !important;
    }

    input {
        font-family: 'Oswald', Arial, sans-serif;
        font-size: 18px;
        margin-left:8px;
        color: #444;
        &::-webkit-input-placeholder {
            opacity: 1 !important; 
            color: #444;
        }
    }
    &:before {
        position: absolute;
        left: 8px;
        bottom: 16px;
        width: 22px;
        height: 25px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        content:' ';
        opacity: 0.4;
        background-image: url('/images/icon-city.png');
    }
    // possibly temporary
    img {
        position: absolute;
        left: 8px;
        bottom: 16px;
        width: 22px;
        height: auto;
        z-index: 2;
        opacity: 0.4;
        margin:0px;
        display: none;
    }

}
