.question.or-appearance-unga-placeholder-minimal {
    background-color: #F3F3F3;
    border:1px solid #CCC;
    padding-bottom: 2px;
    margin:6px;
    padding-left: 32px;
    position: relative;
    .question-label {
    	display: none;
    }
    &:hover {
    	background-color: #F3F3F3 !important;
    }
    select {
    	font-family: 'Oswald', Arial, sans-serif;
    	font-size: 18px;
        color: #444;
    }
    &:before {
        position: absolute;
        left: 8px;
        bottom: 16px;
        width: 22px;
        height: 24px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        content:' ';
        opacity: 0.4;
    }

    &:nth-child(1):before {
        background-image: url('/images/icon-gender.png');
    }
    &:nth-child(2):before {
        background-image: url('/images/icon-age.png');
    }
    &:nth-child(3):before {
        background-image: url('/images/icon-education.png');
    }
    &:nth-child(4):before {
        background-image: url('/images/icon-country.png');
    }

    // possibly temporary
    img {
        position: absolute;
        left: 8px;
        bottom: 16px;
        width: 22px;
        height: auto;
        margin:0px;
        z-index: 2;
        display: none;
    }
}

.touch .question.or-appearance-unga-placeholder-minimal {
    padding-left: 40px;
    line-height: 32px;
}