.question.or-appearance-unga-placeholder-minimal {
    background-color: #F3F3F3;
    border: 1px solid #CCC;
    padding-bottom: 2px;
    margin: 6px;
    padding-left: 32px;
    position: relative;
    .question-label {
        display: none;
    }
    &:hover {
        background-color: #F3F3F3 !important;
    }
    select {
        font-family: 'Oswald', Arial, sans-serif;
        font-size: 18px;
        color: #444;
    }

    img {
        position: absolute;
        left: 8px;
        bottom: 18px;
        width: 22px;
        height: 23px;
        margin: 0px;
        z-index: 2;  
    }
}

.touch .question.or-appearance-unga-placeholder-minimal {
    padding-left: 40px;
    line-height: 32px;
}
