@import "widgets";
@import "../formhub/form-controls";
@import "../grid/main";
@import "form_header";
@import "form_footer";

// override ../grid/main here

.question {
    font-family: 'Oswald', Arial, sans-serif;
    padding-bottom: 60px;
    &:not(.note):not(.focus):hover {
        background-color: transparent;
    }
}

.option-wrapper > label {
    font-family: 'Oswald', Arial, sans-serif;
}

.question .question-label,
.note .question-label {
    text-transform: none;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.35em;
}

legend {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

span.required {
    display: none;
}

.note {
    font-family: 'Oswald', Arial, sans-serif;
    background: transparent;
    border: none;
}

h2 {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 600;
    padding-top: 30px;
    text-transform: uppercase;
    opacity: 0.8;
}

section.or-appearance-narrow {
    max-width: 500px;
    margin:0 auto;
}

.btn-primary {
    background-color: #68A5DE;
    border:none;
    border-bottom: 2px solid darken(#68A5DE, 10%);
    border-radius: 4px;
    font-size: 20px;
    text-transform: uppercase; 
    padding-top:10px;
    padding-bottom: 10px;
    transition:all 0.5s;
    &:hover, &:focus, &:active, &.active {
        background-color: darken(#68A5DE, 10%);
        border:none;
        border-bottom: 2px solid darken(#68A5DE, 20%);
    }
}